body, dl, dd, h1, h2, h3, h4, h5, h6, p, form,a,button{margin:0;padding:0;}
ol,li,ul{margin:0; padding:0;list-style: outside none none;}
p,div {word-wrap:break-word;}
a{text-decoration:none;color: inherit;}
img{border: 0;}
table{border-collapse:collapse;border-spacing:0;}
label {cursor:pointer;}
input, button, textarea, select {font-size: inherit;width: auto;padding:0;}
ol, ul { list-style: none; }



body {font-family: "\5FAE\8F6F\96C5\9ED1",sans-serif;}

.top_center,.nav_center,.banner_center,.block_a_center,.block_b_center,.foot_center,.bottom_center {width: 1200px;margin: 0 auto;position: relative;}


.top {background: #cb7500;height: 5px;}
.top_bar {width: 250px;background-color: #1a9ec5;height: 5px;}



.nav_logo {display: inline-block;vertical-align: top;width: 250px;height: 130px;}
.nav_logo img{width: 250px;vertical-align: top;}
.nav_lang {position: absolute;top: 10px;right: 10px;color: #2b6396;}
.nav_lang a {margin: 0 10px;padding-bottom:2px;cursor: pointer;}
.nav_lang_zh {border-bottom: 1px solid #970100;}
.nav_lang_en {border-bottom: 1px solid #1a9ec5;}
.nav_links {position:absolute;right:10px;display: inline-block;vertical-align: top;margin-top: 55px;}
.nav_link {width: 100px;line-height: 40px;margin-right: 10px;display: inline-block;text-align: center;cursor: pointer;}
.nav_link:hover {color: #1a9ec5;}
.nav_link.active {color: #1a9ec5;}








.banner {min-width: 1200px;height: 600px;overflow: hidden;position: relative;}
.banner_pic{position: absolute;left: -360px;white-space: nowrap;}
.banner_pic .first{left: 0;}
.banner_pic img{position: absolute;width:1920px;height: 600px;left: 1920px;}
.banner_pic_point {position: relative;text-align: center;  font-size: 50px;  color: #d8bebe;  letter-spacing: -5px;top: 545px;z-index: 2;}
.banner_pic_point .active {color: #1a9ec5;}
.banner_left {left: 30px;}
.banner_right {right: 30px;}
.banner_left,.banner_right {position: absolute;top: 300px;padding: 10px;border-radius: 4px;background: rgba(255,255,255,.3);cursor: pointer;z-index: 2;}






.photograph {width: 1200px;margin: 0 auto;position: relative;}
.photograph {width: 1200px;height: 275px;background-size: cover;border-radius: 8px;}

.crumbs {width: 1200px;padding: 20px 0 20px 0;margin: 0 auto;}



/*分类导航*/
.block_a {padding: 30px 0 30px 0;}
.block_a_left {display: inline-block;vertical-align: top;width: 280px;}
.block_a_left_title{font-size: 30px;color:#1a9ec5;border-bottom: 3px solid #b4b4b4;}
.block_a_left_title div {display: inline-block;position:relative;bottom:-3px;border-bottom: 3px solid #1a9ec5;padding-bottom:5px;}
.block_a_left_nav {line-height: 28px;padding: 15px 0 15px 0;border-bottom: 1px dashed  #b4b4b4;cursor: pointer;}
.block_a_left_nav.active {color:#1a9ec5;}
.block_a_left_nav span {font-size: 20px;color: #1a9ec5;margin-right: 8px;}

.block_a_right {display: inline-block;vertical-align: top;width: 870px;margin-left: 40px;background-color: #ffffff;padding: 10px 15px 30px 15px;box-sizing: border-box;}
.block_a_right_content {display: none;}
.block_a_right_content.active {display: block;}


.block_a_right_item {padding: 10px 0 0 0 ;vertical-align: top;display: block;}
.block_a_right_item_title {font-size: 16px;margin-bottom: 10px;float: right;padding:10px 10px 0 20px;}
.block_a_right_item_title span {font-size: 20px;color:#1a9ec5; }
.block_a_right_item_p  {border-bottom: 1px dashed #b4b4b4;padding: 15px 0 15px 10px;}
.block_a_right_more {text-align: right;padding-right: 30px;padding-top: 20px;font-size: 14px;display: block;}

.block_a_list {margin-bottom: 15px;display: block;}
.block_a_list_title {font-size: 18px;color: #555;margin-bottom: 5px;}
.block_a_list_content {font-size: 14px;margin-bottom: 30px;padding: 10px;}




/*详情页*/
.block_c {width: 1200px;margin: 0 auto;position: relative;padding: 30px 0;}
.block_c_title {padding-bottom: 10px;color:#1a9ec5;}
.block_c_time {padding-bottom: 15px;text-align: center;}
.block_c_content {padding-bottom: 20px;}
.block_c img{max-width: 1200px;}







.foot {padding:30px 0 30px 0;background-color: #cb7500;overflow: auto;color: #fff;}

.foot_left {display: inline-block;vertical-align: top;width: 950px;padding-right: 20px;font-size: 14px;}
.foot_right {display: inline-block;vertical-align: top;top:-13px;position: absolute;}


.foot_middle_title,.foot_left_title {font-size: 20px;margin-bottom: 15px;}
.foot_right_title {font-size: 20px;font-weight: bold;margin:30px 20px 0 0;display: inline-block;}

.foot_links {line-height: 26px;}
.foot_link {margin-right: 20px;}
.foot_contact {line-height: 26px;word-break: break-all;}


.foot_wx,.foot_sina {display:inline-block;vertical-align: top;text-align: center;font-size: 12px;}
.foot_sina {margin-left: 10px;}
.foot_wx img,.foot_sina img {border: 8px solid #ffffff;border-radius: 5px;width: 80px;height: 80px;}




.bottom {padding: 30px 0 30px 0;text-align: center;font-size: 12px;}
.bottom img {padding: 5px 0 0 0;}